.container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    border: 1px solid red;
    background-color: cadetblue;
}
.box1{
 border: 1px dotted chartreuse ;
    background-color:black;
    height: 400px;
    width: 300px;
     order:4;
}
.box2{
 border: 1px dotted red ;
    background-color: brown;
     height: 400px;
    width: 300px;
}
.box3{
 border: 1px dotted chartreuse ;
    background-color:azure;
    height: 400px;
    width: 300px;
}
.box4{
 border: 1px dotted chartreuse ;
    background-color: cadetblue;
     height: 400px;
    width: 300px;
}